.appRoute {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

a:hover { text-decoration: white; }

.cardContainer {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  cursor: pointer;
  display: flex;
  height: 140px;
  margin: 10px;
  transition: all 0.2s linear;
  width: 400px;
}

.cardContainer:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5),
    inset 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.cardContainer h4 {
  font-weight: 700;
}

.cardImage {
  border-radius: 5px;
}

.namesContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  padding-left: 5px;
  width: 60%;
}
