.detailsCard {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5),
  inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: max-content;
  margin: 2vh 10vw;
  padding: 2vh 0;
  width: 50%;
}

.detailsCard img {
  padding: 20px 2vw;
}
