.headerContainer {
  display: grid;
  grid-template: 10vh / 0.1fr 0.8fr 0.1fr;
  place-items: center;
  height: 10vh;
  background: #c82333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.searchButton {
  grid-column-start: 3;
}

.searchButton:focus {
  outline: none;
}

.headerImage {
  grid-column-start: 2;
}

.searchInput {
  background-color: #c82333;
  border-bottom: 1px solid whitesmoke;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  color: whitesmoke;
  font-weight: 500;
  grid-column-start: 2;
  width: 70%;
}

::placeholder {
  color: whitesmoke;
}

.searchInput:focus {
  outline: none;
}
