.formContainer {
max-width: 325px;
}

.title {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  flex-direction: column;
}

.title img {
  margin-bottom: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emailSize {
  max-width: 85%;
}

.loadingMessage {
  animation: logo-spin infinite 0.8s linear;
  position: absolute;
  z-index: 10;
}

.tooltipText {
  text-align: center;
}

.loadingEffect {
  filter: blur(2.5px);
  transition: all 0.2s linear;
}
